body * {
  background-color: linen;
  text-align: center;
}

header {
  display: inline-block;
  background-color: cadetblue;
  color: maroon;
  font-size: 3em;
  text-align: center;
  padding: 10px;
}

.column1of4, .column2of4, .column3of4, .column4of4 {
  width: 250px;
  float: left;
  margin: 10px;
  text-align: center;
}

footer {
  text-align: center;
  display: block;
}