body * {box-sizing: border-box;
  background-color: linen;
  text-align: center;
}

header {
  display: block;
  background-color: cadetblue;
  color: maroon;
  font-size: 3em;
  text-align: center;
}

main {
  column-count: 4;
}