body {
  width: 95%;
  margin:auto;
  background-color: linen;
  border: 2% solid black;
  border-radius: 10px;
}

header {
  display: block;
  background-color: maroon;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 10px;
  text-align: center;
  width: 95%;
}

.nav {
  border-style: 2% solid lightskyblue;

}

a {
  color: lightskyblue;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1%;
  font-size: 2.5em;
}

li, a {
  display: inline-block;
  text-align: center;
  padding: 2%;
  margin: 2%;
}

h1 {
  background-color: maroon;
  color: linen;
  position: fixed;
  border: 2% solid black;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  display: inline;
}

h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  display: block;
  padding: 1%;
  margin: 2%;
  color: lightskyblue;
  background-color: maroon;
  justify-content: center;
  border-radius: 5px;
}

img.align-center {
  display: block;
  margin: 0% auto;
}

img.large {
  width: 90%;
  height: 25%;
  border-radius: 10px;
}

img.align-left {
  float: left;
  margin-right: 2%;
}

img.small {
  width: 25%;
  height: 25%;
  border-radius: 10px;
}

p {
  text-align:center;
  font-size: 1.25em;
  line-height: 1.4em;
}

.bio {
  justify-content: center;
  display: inline-block;
  width: 95%;
  margin: 2%;
}

.information {
  justify-content: center;
  display: inline-block;
  width: 95%;
}

.topten {
  justify-content: baseline;
  display: block;
  width: 95%;
}